.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F5F5F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #3C889B;
}

.App-formpic-container {
	text-align:center;
}
.App-formpic-text {
	margin-top:20px;
	
    font-size: 70%;
    color: darkgrey;
}

.App-formpic {
	max-width:100%;
	max-height:100%;
}

.Buttons {
	margin: 16px;
}

.ButtonRow {
	margin: 16px;
}


.DonorForm {
	text-align: left;
}

.account-table
{
	text-align: left;
}

.account-table-verified
{
	color: #0bb90b;
}

